@import '/src/assets/styles/variables.scss';

.tableRow {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  text-align: center;
  height: 50px;

}

.tableRow_item {
  padding: 5% 3px;
    border: 1px solid $colorEmphasis1;
    border-collapse: collapse;
    word-wrap: break-word;

    input {
      width: 70%;
    }
  }
