@import '/src/assets/styles/variables.scss';

.mainContainer {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 3% 0;

    
    --heightTop: 70px;
    padding-top: calc(var(--heightTop) + 30px);
    min-width: 90vh;
    
    justify-content: center;
    align-items: center;

    background-color: $colorBackground;
}