.containerSlider {
    margin: 40px;
    height: min-content;
    width: 208px;
  }
  
.slick-next:before, .slick-prev:before {
    font-size: 25px;
    opacity: .65;
    color: rgb(45, 45, 45);
}

.slick-prev {
  left: -37px;
}