@import '../varaible/variables.scss';

.headerContainer {
    display: flex;
    padding-left: 5%;

    height: 70px;

    background-color: $colorEmphasis1;
}

.headerTitle {
    display: flex;
    align-items: center;

    margin-block-start: 0;
    margin-block-end: 0;

    font-family: $font;
    font-size: $fontSizeTitle;
    color: $colorTextLight;
}