$colorEmphasis1: #77A6F7;
$colorEmphasis2: #00887A;
$colorEmphasis3: #FFCCBC;
$colorEmphasis4: #D3E3FC;
$colorBackground: #FFFFFF;




$colorTextLight: rgb(255, 255, 255);
$colorTextDark: rgb(38, 38, 38);
$colorTextGrey:rgb(130, 130, 130);

$font: 'Radio Canada', sans-serif;
$fontSizeTitle: 2em;
$fontSizeMain: 1.5em; 